/*헤더안의 메뉴 폰트*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*섹션안의 Germany*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,900&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    /*footer를 바닥에 박기 위해*/
}

#wrapper {
    height: auto;
    min-height: calc(100%-280px);
    padding-bottom: 280px;
}

.header {
    margin: 0 auto;
    width: 1300px;
}

.top_header {
    width: 100%;
    height: 40px;
    text-align: right;
    padding-right: 10px;

}

.top_header ul {
    list-style: none;
}

.header-item {
    position: relative;
    top: 10px;
    display: inline-block;
    padding-left: 22px;
    font-size: 17px;
}

.header-item-link {
    font-family: 'DM Sans', sans-serif;
    transition: 0.2s;
    color: #565656;
    text-decoration: none;
    display: block;
}

.header-item-link:hover {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

/*-----메인헤더 시작--------*/

.main_header {
    width: 1300px;
    height: 70px;
}

#logo {
    float: left;
    width: 300px;
    height: 100%;
}

#logo img {
    display: flex;
    margin: 0 auto;
}

#nav {
    float: left;
    width: 600px;
    height: 100%;
    padding-top: 27px;
    padding-left: 0;
    background: white;

}

#nav ul {
    margin: 0;
    padding-left: 10px;
    list-style: none;

}

.menu-item {
    float: left;
    padding-right: 30px;
    display: inline-block;
    font-size: 22px;
    color: dimgrey;

}

.menu-link {
    text-decoration: none;
    display: block;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    transition: 0.2s;
    color: #565656;
}

.menu-link:hover {
    color: #f5b642;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.carousel {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    height: 510px;
    width: 1300px;

}

.carousel_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel_track-container {
    background-color: aquamarine;
    /*padding: 10px;*/
    height: 100%;
    position: relative;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel_button img {
    width: 40px;
}

.carousel_button--left {
    left: 5px;
}

.carousel_button--right {
    right: 5px;
}

.carousel_nav {
    background: white;
    display: flex;
    justify-content: center;
    padding: 6px 0;
    height: 20px;
}

.carousel_indicator {
    border: 0;
    border-radius: 13%;
    width: 30px;
    height: 7px;
    background: rgba(0, 0, 0, .2);
    margin: 0 12px;
    cursor: pointer;
}

.carousel_indicator.current-slide {
    background: rgba(0, 0, 0, .55);
}

.is-hidden {
    display: none;
}

/*----------섹션시작----------*/

.section {
    margin: 0 auto;
    padding-top: 75px;
    /*header의 양쪽 여백을 동등하게 맞춤. 수평 가운데 정렬*/
    width: 1300px;
    height: 535px;
}

.firstSection {
    float: left;
    width: 75%;
    font-family: 'Noto Sans', sans-serif;
    padding: 25px 0 0 20px;
    clear: both;
}

.secondSection {
    width: 25%;
    float: right;
    text-align: right;
    padding: 13px 40px 0 0;
}

.germanyMap {
    width: 250px;
    opacity: 0.85;

}

.firstSection h4 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #3f3f3f;
}

#germany {
    margin-top: 0;
    font-size: 120px;
    color: #f0824b;
    font-weight: bolder;
    margin-bottom: 5px;
    font-family: 'DM Sans', sans-serif;
}

.firstSection p {
    font-size: 28px;
    margin-top: 1px;
    color: #494949;
    font-family: 'Noto Sans', sans-serif;
}

/*-------카드 스타일--------*/
.contents {
    width: 1300px;
    height: 1200px;
    margin: 0 auto;
    background-color: white;
    /*지우기*/
}

.card_holder {
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.card {
    width: 370px;
    height: 480px;
    overflow: hidden;
    margin: 0 17px 0 17px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
    transition: all 0.2s ease-out;
}

.card:hover {
    transform: translateY(-15px);
}

.card_header {
    width: 100%;
    height: 60%;
}

.card-img {
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-story {
    width: 100%;
    height: 40%;
    padding: 10px;
}

.card-story h3 {
    font-size: 25px;
    color: #424242;
}

.card-story p {
    padding-top: 6px;
    color: #515151;
}

.checked {
    color: orange;
}

.advertise {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    border: 2px solid #757575;
    
}

.advertise_img {
    border: 2px solid #757575;
    width: 100%;
    height: 100%;
  
}

.advertise_img img {
    width: 100%;
    height: 100%;
    filter: brightness(0.9);
    opacity: 0.8;
    object-fit: cover;
    object-position: 0 -100px;
    transition: 0.4s;
   
}

.advertise_img img:hover {
    filter: brightness(0.4);

}

.advertise_text {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 80%;
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
}


/*------------푸터시작---------------*/
footer {
    position: relative;
    transform: translateY(-100%);
    width: 100%;
    height: 280px;
    margin: 0 auto;
    font-family: 'DM Sans', sans-serif;
}

/*footer hr{
            border: solid 0.1px #a3a3a3;
        }*/

#footer_wapper {
    padding-top: 10px;
    margin: 0 auto;
    width: 1300px;
    height: 70%;
    display: flex;
    background-color: white;
    /*지우기*/
}

#first_footer {
    width: 30%;
    text-align: center;
    /*border: 2px solid #757575;*/
}

.footer_logo {
    /*푸터의 로고를 감싸는 부분*/
    width: 100%;
    height: 55%;
    padding: 15px;
}

.footer_logo img {
    width: 220px;
}

#first_footer p {
    padding-top: 10px;
    font-size: 20px;
    color: #606060;
}

.sns {
    height: 45%;
    padding: 10px;
}

.sns img {
    width: 30px;
}

#second_footer {
    width: 70%;
    display: flex;
    padding: 0 140px
}

.footer_nav1 {
    padding-top: 20px;

    width: 50%;
    text-align: center;
    color: #565656;
}

.footer_nav1 ul {
    list-style: none;
}

.footer_nav1 ul li {
    font-size: 15px;
    padding: 1px;
}

.footer_nav1 h3 {
    font-size: 19px;
    margin-bottom: 7px;
}

.footer_nav2 {
    padding-top: 40px;
    width: 50%;
    text-align: center;
    color: #565656;
}

select {
    width: 200px;
    height: 40px;
    padding-left: 10px;
    margin-top: 20px;
    border: 2px solid #757575;
    border-radius: 50px;
}

#copy {
    padding: 30px;
    text-align: center;
    width: 100%;
    height: 30%;
    color: #f5f5e9;
    background-color: burlywood;
}
